{# templates/rick/episodes.html.twig #}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Episodios de Rick y Morty</title>
    <link rel="stylesheet" href="/css/episodios.css"> {# Enlace al archivo CSS #}
</head>
<body>

        <header class="cabezera">
            <nav>
                <a href="{{ path('Rick') }}" class="btn">Ir a la página principal</a>
                <a href="{{ path('informacion') }}" class="btn">Ir a Información y Encuestas</a>
                <a href="{{ path('RickMorty') }}" class="btn">Ir a Información de los Personajes</a>
            </nav>
        </header>

        <h1>Episodios de Rick y Morty</h1>

        <ul class="episode-list"> {# Agregamos clase para el estilo #}
        {% for episode in episodes %}
            <li>
                <strong>{{ episode.name }}</strong> 
                ({{ episode.air_date }}) - {{ episode.episode }}
            </li>
        {% endfor %}
        </ul>
</body>
</html>

