{# templates/Rick/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Posts</title>
   <!-- Aquí puedes incluir tus estilos CSS si es necesario -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/info.js') }}"></script> <!-- Aquí enlazas tu archivo script.js --> 
   <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <div class="content">
        <header>
            <h1>Rick and Morty </h1>
        </header>
        <main>
            <div class="centered">
                <a href="{{ path('informacion') }}" class="btn">Ir a Información y Encuestas</a>
                <a href="{{ path('RickMorty') }}" class="btn">Ir a Informacion de los personajes</a>
                <a href="{{ path('episodios') }}" class="btn">Ir a episodios de Rick y Morty</a>
            </div>
        </main>
    
   

</body>
</html>