<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick y Morty - Información</title>
    <script src="{{ asset('js/info.js') }}"></script> <!-- Aquí enlazas tu archivo script.js --> 
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <header>
        <h1>RICK Y MORTY </h1>
    </header>
  
    <div class="container">
        <section id="info-section">
            <h2>Información de la serie</h2>
            <p>Rick y Morty es una serie de televisión animada estadounidense para adultos creada por Justin Roiland y Dan Harmon...</p>
            <!-- Aquí puedes agregar más información sobre la serie -->
        </section>
        <section id="poll-section">
            <h2>Encuesta: Personaje Favorito</h2>
            <form id="poll-form">
                <input type="radio" name="character" value="Rick"> Rick<br>
                <input type="radio" name="character" value="Morty"> Morty<br>
                <input type="radio" name="character" value="Summer"> Summer<br>
                <input type="radio" name="character" value="Otros"> Otros<br>
                <button type="submit">Votar</button>
            </form>
            <div id="poll-results">
                <!-- Aquí se mostrarán los resultados de la encuesta -->
            </div>
        </section>
        <div class="centered">
            <a href="{{ path('Rick') }}" class="btn">Ir a la página principal</a>
            <a href="{{ path('RickMorty') }}" class="btn">Ir a Informacion de los personajes</a>
            <a href="{{ path('episodios') }}" class="btn">Ir a episodios de Rick y Morty</a>

        </div>
    </div>
</body>
</html>
